.page {
    max-width: 100rem;
    margin: 0.5rem auto;
    padding: 0 0.5rem;

}

.wrapper {
    max-width: 100rem;
    margin: 0.5rem auto;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 1000px 1fr;
    gap: 8rem;
    align-items: flex-start;
}

